<div class="cards-wrapper">
    <div class="row cards-container">
        <% card_id.each do |id| %>
            <div class="col-12 col-lg-6 card-item mx-auto">
                <div class="card-image-holder">
                    <a href="#">
                        <%= image_tag(cardImage(id), class: "card-image", alt: "Curio Card #{id.to_s}") %>
                    </a>
                </div>
                <div class="text-center down-arrow-grey">
                    <!-- click this link will scrool to div#card-1 -->
                    <a href="#card-<%= id.to_s %>">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                </div>
                <div id="card-<%= id.to_s %>" class="card-details">
                    <div class="item-label card-address-item">
                        <img class="bigger-icon" src="img/ethereum-logo.svg" alt="address">
                        <span>Card Address:</span>
                    </div>
                    <!--
                        <div class="card-address clipboard-container">
                        <span class="clipboard-text"></span>
                        </div>
                        -->
                    <div class="card-address">
                        <span id="outputcard<%= id.to_s %>addr">loading...</span>
                    </div>
                    <div class="item-label amount-item mb-3">
                        <img src="img/price-tag.svg" alt="price">
                        <span>Amount Available:</span>
                        <p>
                            <em id="output<%= id.to_s %>vend1supply">loading...</em> / 400</p>
                        <p>0.0025 ETH/card</p>
                    </div>
                    <div class="item-label vm-address-item">
                        <img src="img/shopping-cart.svg" alt="shopping-cart">
                        <span>VM Address:</span>
                    </div>
                    <div class="vm-address">
                        <span id="outputcard<%= id.to_s %>vend1addr">loading...</span>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
  </div>