<%= render partial: "navbar" %> <!-- Note: this is the index page version of the navbar-->

<section id="main-section" class="main-section">
  <!--<div class="countdown mx-auto" id="countdown"></div> -->

  <div class="text-center time-left-info">
    <div class="down-section-info text-center">
      <!-- <h3 class="text-uppercase">View current cards</h3>
      <div class="down-arrow-circle arrow-white text-center">
        <! click this link will scroll to div#cards-available >
        <a href="#cards-available">
          <i class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
        </a> -->
    </div>
  </div>
</section>

<%= render partial: "title-line", locals: { title: "New Card Voting" } %>
<div class="text-center body-content">
  <h3>
    <b>New Cards being voted on Now</b>
    <br> Throw your support behind the card and artist you want to see next
    <br>
  </h3>
  <div class="body-button text-center">
    <br>
    <a href="https://vote.curio.cards" target="_blank">
      <span class="text-uppercase">Vote Now</span>
    </a>
  </div>
</div>

<%= render partial: "title-line", locals: { title: "Featured cards Available" } %>
<%= render partial: "cardwrapper", locals: { card_id: [28, 29, 30] } %>

<%= render partial: "title-line", locals: { title: "The Artists" } %>
<div class="text-center body-content">
  <h3>Check out the artist pages to find more currently available cards</h3>
</div>
<br>

<!-- put in a loop with artist.url and artist.name model info -->

  <div class="body-button text-center">
    <a href="thoros.html">
      <span class="text-uppercase">Thoros of Myr</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="marisol.html">
      <span class="text-uppercase">Marisol Vengas</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="daniel.html">
      <span class="text-uppercase">Daniel Friedman</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="robek.html">
      <span class="text-uppercase">Robek World</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="cryptopop.html">
      <span class="text-uppercase">Cryptopop</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="cryptograffiti.html">
      <span class="text-uppercase">Cryptograffiti</span>
    </a>
  </div>
  <!--
    <div class="body-button text-center">
      <a href="phneep.html"><span class="text-uppercase">Phneep</span></a>
    </div>
  -->

<br>

<%= render partial: "how-to-buy" %>

<br><br>

<!-- Start of FAQ section -->
<%= render partial: "faq" %>
<!-- End of FAQ section -->