<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><%= yield(:title) %></title>

    <%= stylesheet_link_tag "backend", media: 'all' %>
  </head>

  <body class="<%= params[:action] %>"> <!-- sets the contoller name as a class for controller specific js -->

    <%= yield %>
    
    <%= javascript_include_tag 'application' %>
  </body>

</html>